apiVersion: v1
kind: Service
metadata:
  labels:
    app: keycloak
  name: keycloak-discovery
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: keycloak
  clusterIP: {{ .Values.discovery.clusterIP }}
  type: {{ .Values.discovery.type }}